{
    "openapi": "3.0.2",
    "info": {
        "title": "ag|knowledge API",
        "description": "ag|knowledge API by [geocledian](https://www.geocledian.com).",
        "version": "4.0.2"
    },
    "servers": [
        { "url": "https://dev01.geocledian.com" }
    ],
    "paths": {
        "/agknow/api/v4": {
            "get": {
                "tags": [
                    "root"
                ],
                "summary": "Get Api Root",
                "description": "Base / root URL of the agknowledge API. Useful for version information and health checks. ",
                "operationId": "get_api_root_agknow_api_v4_get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OutRoot"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/agknow/api/v4/usage": {
            "get": {
                "tags": [
                    "utils"
                ],
                "summary": "Get Usage Summary",
                "description": "HTTP GET method that implements the retrieval of the parcel usage summary for the given API Key \n of the agknowledge API. \n\nIt supports the following options:\n- regstartdate: Registered start date of the parcels; default: \"1970-01-01\"\n- regenddate: Registered end date of the parcels; default: \"2099-12-31\"",
                "operationId": "get_usage_summary_agknow_api_v4_usage_get",
                "parameters": [
                    {
                        "description": "Registered start date of the parcels",
                        "required": false,
                        "schema": {
                            "title": "Regstartdate",
                            "type": "string",
                            "description": "Registered start date of the parcels",
                            "format": "date",
                            "default": "1970-01-01"
                        },
                        "name": "regstartdate",
                        "in": "query"
                    },
                    {
                        "description": "Registered end date of the parcels",
                        "required": false,
                        "schema": {
                            "title": "Regenddate",
                            "type": "string",
                            "description": "Registered end date of the parcels",
                            "format": "date",
                            "default": "2099-12-31"
                        },
                        "name": "regenddate",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsageOutput"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication Error: user authentication against API",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/APIErrorMessage"
                                },
                                "example": {
                                    "error": "Authentication Error",
                                    "detail": "key validity expired"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Authorization Error: user permissions on resource level",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/APIErrorMessage"
                                },
                                "example": {
                                    "error": "Authorization Error",
                                    "detail": "access to resource not permitted"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error: validation of request data failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/APIValidationErrorMessage"
                                },
                                "example": {
                                    "error": "Validation Error",
                                    "detail": [
                                        {
                                            "loc": [
                                                "query",
                                                "startdate"
                                            ],
                                            "msg": "invalid datetime format",
                                            "type": "value_error.datetime"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/APIErrorMessage"
                                },
                                "example": {
                                    "error": "Server Error",
                                    "detail": "Unknown Server Error occured"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found Error: resource not found",
                        "content": {
                            "application/json": {
                                "example": {
                                    "content": {}
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "APIKeyQuery": []
                    },
                    {
                        "APIKeyQuery": []
                    },
                    {
                        "APIKeyQuery": []
                    }
                ]
            }
        },
        "/agknow/api/v4/parcels/visible": {
            "get": {
                "tags": [
                    "basic monitoring"
                ],
                "summary": "Get Parcel Visible List",
                "description": "HTTP GET endpoint that implements the retrieval of the parcel list endpoint for product `visible` which lists all parcels of the given API Key \n    and the visible product for the given date (or closest match to it) from the agknowledge API.\n\nIt supports the following options:\n- date: listing every visible product for this date (or closest match) over all parcels of the API key; default: today()\n- crop, name, entity, promotion filters for filtering the parcel list itself; defaults: \"\"\n- geoformat: define the output format for the parcel geometries; default: GeoJSON\n- source filter: data source filter for the product (e.g. 'sentinel2', 'landsat8'); default: 'combined'\n- limit: limit the returned parcels; default: 20 (max 100 allowed)",
                "operationId": "get_parcel_visible_list_agknow_api_v4_parcels_visible_get",
                "parameters": [
                    {
                        "description": "Search date filter string. Results will be the closest match regarding the date.",
                        "required": false,
                        "schema": {
                            "title": "Date",
                            "type": "string",
                            "description": "Search date filter string. Results will be the closest match regarding the date.",
                            "format": "date",
                            "default": "2021-04-12"
                        },
                        "name": "date",
                        "in": "query"
                    },
                    {
                        "description": "Crop filter string.",
                        "required": false,
                        "schema": {
                            "title": "Crop",
                            "type": "string",
                            "description": "Crop filter string.",
                            "default": ""
                        },
                        "name": "crop",
                        "in": "query"
                    },
                    {
                        "description": "Entity filter string.",
                        "required": false,
                        "schema": {
                            "title": "Entity",
                            "type": "string",
                            "description": "Entity filter string.",
                            "default": ""
                        },
                        "name": "entity",
                        "in": "query"
                    },
                    {
                        "description": "Parcel name filter string.",
                        "required": false,
                        "schema": {
                            "title": "Name",
                            "type": "string",
                            "description": "Parcel name filter string.",
                            "default": ""
                        },
                        "name": "name",
                        "in": "query"
                    },
                    {
                        "description": "Promotion filter.",
                        "required": false,
                        "schema": {
                            "title": "Promotion",
                            "type": "boolean",
                            "description": "Promotion filter."
                        },
                        "name": "promotion",
                        "in": "query"
                    },
                    {
                        "description": "Format of the returned geometry.",
                        "required": false,
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/GeoFormatEnum"
                                }
                            ],
                            "description": "Format of the returned geometry.",
                            "default": "GeoJSON"
                        },
                        "name": "geoformat",
                        "in": "query"
                    },
                    {
                        "description": "Data source (i.e. sensor/satellite) for the product.",
                        "required": false,
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/SensorEnum"
                                }
                            ],
                            "description": "Data source (i.e. sensor/satellite) for the product.",
                            "default": "combined"
                        },
                        "name": "source",
                        "in": "query"
                    },
                    {
                        "description": "Limit for the returned parcels",
                        "required": false,
                        "schema": {
                            "title": "Limit",
                            "exclusiveMaximum": 100.0,
                            "exclusiveMinimum": 0.0,
                            "type": "integer",
                            "description": "Limit for the returned parcels",
                            "default": 20
                        },
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ParcelProductListOutput"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication Error: user authentication against API",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/APIErrorMessage"
                                },
                                "example": {
                                    "error": "Authentication Error",
                                    "detail": "key validity expired"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Authorization Error: user permissions on resource level",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/APIErrorMessage"
                                },
                                "example": {
                                    "error": "Authorization Error",
                                    "detail": "access to resource not permitted"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error: validation of request data failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/APIValidationErrorMessage"
                                },
                                "example": {
                                    "error": "Validation Error",
                                    "detail": [
                                        {
                                            "loc": [
                                                "query",
                                                "startdate"
                                            ],
                                            "msg": "invalid datetime format",
                                            "type": "value_error.datetime"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/APIErrorMessage"
                                },
                                "example": {
                                    "error": "Server Error",
                                    "detail": "Unknown Server Error occured"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "APIKeyQuery": []
                    },
                    {
                        "APIKeyQuery": []
                    },
                    {
                        "APIKeyQuery": []
                    }
                ]
            }
        },
        "/agknow/api/v4/parcels/vitality": {
            "get": {
                "tags": [
                    "basic monitoring"
                ],
                "summary": "Get Parcel Vitality List",
                "description": "HTTP GET endpoint that implements the retrieval of the parcel list endpoint for product `vitality` which lists all parcels of the given API Key \n    and the vitality product for the given date (or closest match to it) from the agknowledge API.\n\nIt supports the following options:\n- date: listing every vitality product for this date (or closest match) over all parcels of the API key; default: today()\n- crop, name, entity, promotion filters for filtering the parcel list itself; defaults: \"\"\n- geoformat: define the output format for the parcel geometries; default: GeoJSON\n- source filter: data source filter for the product (e.g. 'sentinel2', 'landsat8'); default: 'combined'\n- limit: limit the returned parcels; default: 20 (max 100 allowed)",
                "operationId": "get_parcel_vitality_list_agknow_api_v4_parcels_vitality_get",
                "parameters": [
                    {
                        "description": "Search date filter string. Results will be the closest match regarding the date.",
                        "required": false,
                        "schema": {
                            "title": "Date",
                            "type": "string",
                            "description": "Search date filter string. Results will be the closest match regarding the date.",
                            "format": "date",
                            "default": "2021-04-12"
                        },
                        "name": "date",
                        "in": "query"
                    },
                    {
                        "description": "Crop filter string.",
                        "required": false,
                        "schema": {
                            "title": "Crop",
                            "type": "string",
                            "description": "Crop filter string.",
                            "default": ""
                        },
                        "name": "crop",
                        "in": "query"
                    },
                    {
                        "description": "Entity filter string.",
                        "required": false,
                        "schema": {
                            "title": "Entity",
                            "type": "string",
                            "description": "Entity filter string.",
                            "default": ""
                        },
                        "name": "entity",
                        "in": "query"
                    },
                    {
                        "description": "Parcel name filter string.",
                        "required": false,
                        "schema": {
                            "title": "Name",
                            "type": "string",
                            "description": "Parcel name filter string.",
                            "default": ""
                        },
                        "name": "name",
                        "in": "query"
                    },
                    {
                        "description": "Promotion filter.",
                        "required": false,
                        "schema": {
                            "title": "Promotion",
                            "type": "boolean",
                            "description": "Promotion filter."
                        },
                        "name": "promotion",
                        "in": "query"
                    },
                    {
                        "description": "Format of the returned geometry.",
                        "required": false,
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/GeoFormatEnum"
                                }
                            ],
                            "description": "Format of the returned geometry.",
                            "default": "GeoJSON"
                        },
                        "name": "geoformat",
                        "in": "query"
                    },
                    {
                        "description": "Data source (i.e. sensor/satellite) for the product.",
                        "required": false,
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/SensorEnum"
                                }
                            ],
                            "description": "Data source (i.e. sensor/satellite) for the product.",
                            "default": "combined"
                        },
                        "name": "source",
                        "in": "query"
                    },
                    {
                        "description": "Limit for the returned parcels",
                        "required": false,
                        "schema": {
                            "title": "Limit",
                            "exclusiveMaximum": 100.0,
                            "exclusiveMinimum": 0.0,
                            "type": "integer",
                            "description": "Limit for the returned parcels",
                            "default": 20
                        },
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ParcelProductListOutput"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication Error: user authentication against API",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/APIErrorMessage"
                                },
                                "example": {
                                    "error": "Authentication Error",
                                    "detail": "key validity expired"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Authorization Error: user permissions on resource level",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/APIErrorMessage"
                                },
                                "example": {
                                    "error": "Authorization Error",
                                    "detail": "access to resource not permitted"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error: validation of request data failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/APIValidationErrorMessage"
                                },
                                "example": {
                                    "error": "Validation Error",
                                    "detail": [
                                        {
                                            "loc": [
                                                "query",
                                                "startdate"
                                            ],
                                            "msg": "invalid datetime format",
                                            "type": "value_error.datetime"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/APIErrorMessage"
                                },
                                "example": {
                                    "error": "Server Error",
                                    "detail": "Unknown Server Error occured"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "APIKeyQuery": []
                    },
                    {
                        "APIKeyQuery": []
                    },
                    {
                        "APIKeyQuery": []
                    }
                ]
            }
        },
        "/agknow/api/v4/parcels/variations": {
            "get": {
                "tags": [
                    "basic monitoring"
                ],
                "summary": "Get Parcel Variations List",
                "description": "HTTP GET endpoint that implements the retrieval of the parcel list endpoint for product `variations` which lists all parcels of the given API Key \n    and the variations product for the given date (or closest match to it) from the agknowledge API.\n\nIt supports the following options:\n- date: listing every variations product for this date (or closest match) over all parcels of the API key; default: today()\n- crop, name, entity, promotion filters for filtering the parcel list itself; defaults: \"\"\n- geoformat: define the output format for the parcel geometries; default: GeoJSON\n- source filter: data source filter for the product (e.g. 'sentinel2', 'landsat8'); default: 'combined'\n- limit: limit the returned parcels; default: 20 (max 100 allowed)",
                "operationId": "get_parcel_variations_list_agknow_api_v4_parcels_variations_get",
                "parameters": [
                    {
                        "description": "Search date filter string. Results will be the closest match regarding the date.",
                        "required": false,
                        "schema": {
                            "title": "Date",
                            "type": "string",
                            "description": "Search date filter string. Results will be the closest match regarding the date.",
                            "format": "date",
                            "default": "2021-04-12"
                        },
                        "name": "date",
                        "in": "query"
                    },
                    {
                        "description": "Crop filter string.",
                        "required": false,
                        "schema": {
                            "title": "Crop",
                            "type": "string",
                            "description": "Crop filter string.",
                            "default": ""
                        },
                        "name": "crop",
                        "in": "query"
                    },
                    {
                        "description": "Entity filter string.",
                        "required": false,
                        "schema": {
                            "title": "Entity",
                            "type": "string",
                            "description": "Entity filter string.",
                            "default": ""
                        },
                        "name": "entity",
                        "in": "query"
                    },
                    {
                        "description": "Parcel name filter string.",
                        "required": false,
                        "schema": {
                            "title": "Name",
                            "type": "string",
                            "description": "Parcel name filter string.",
                            "default": ""
                        },
                        "name": "name",
                        "in": "query"
                    },
                    {
                        "description": "Promotion filter.",
                        "required": false,
                        "schema": {
                            "title": "Promotion",
                            "type": "boolean",
                            "description": "Promotion filter."
                        },
                        "name": "promotion",
                        "in": "query"
                    },
                    {
                        "description": "Format of the returned geometry.",
                        "required": false,
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/GeoFormatEnum"
                                }
                            ],
                            "description": "Format of the returned geometry.",
                            "default": "GeoJSON"
                        },
                        "name": "geoformat",
                        "in": "query"
                    },
                    {
                        "description": "Data source (i.e. sensor/satellite) for the product.",
                        "required": false,
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/SensorEnum"
                                }
                            ],
                            "description": "Data source (i.e. sensor/satellite) for the product.",
                            "default": "combined"
                        },
                        "name": "source",
                        "in": "query"
                    },
                    {
                        "description": "Limit for the returned parcels",
                        "required": false,
                        "schema": {
                            "title": "Limit",
                            "exclusiveMaximum": 100.0,
                            "exclusiveMinimum": 0.0,
                            "type": "integer",
                            "description": "Limit for the returned parcels",
                            "default": 20
                        },
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ParcelProductListOutput"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication Error: user authentication against API",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/APIErrorMessage"
                                },
                                "example": {
                                    "error": "Authentication Error",
                                    "detail": "key validity expired"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Authorization Error: user permissions on resource level",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/APIErrorMessage"
                                },
                                "example": {
                                    "error": "Authorization Error",
                                    "detail": "access to resource not permitted"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error: validation of request data failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/APIValidationErrorMessage"
                                },
                                "example": {
                                    "error": "Validation Error",
                                    "detail": [
                                        {
                                            "loc": [
                                                "query",
                                                "startdate"
                                            ],
                                            "msg": "invalid datetime format",
                                            "type": "value_error.datetime"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/APIErrorMessage"
                                },
                                "example": {
                                    "error": "Server Error",
                                    "detail": "Unknown Server Error occured"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "APIKeyQuery": []
                    },
                    {
                        "APIKeyQuery": []
                    },
                    {
                        "APIKeyQuery": []
                    }
                ]
            }
        },
        "/agknow/api/v4/parcels/{parcel_id}/visible": {
            "get": {
                "tags": [
                    "basic monitoring"
                ],
                "summary": "Get Visible Product List",
                "description": "HTTP GET endpoint that implements the retrieval of the visible raster product list as JSON Objects for the given parameters\nof the agknowledge API.\n\nIt supports the following options:\n- source filter: data source filter for the product (e.g. 'sentinel2', 'landsat8'); default: 'combined'\n- startdate: start date for the product list. May be used to limit the time range of the product list; default: '1970-01-01'\n- enddate: end date for the product list. May be used to limit the time range of the product list; default: '2099-12-31'\n- delta_days: Offset days after startdate, which should appear in the product list. If the enddate parameter is given too, then the one which is closer to startdate will be applied; default: None\n- order: Order ascending or descending product list by date; default: desc (latest first)\n- offset: Offset for pagination\n- limit: limit the returned parcels; default: 6000 (max 6000 allowed)",
                "operationId": "get_visible_product_list_agknow_api_v4_parcels__parcel_id__visible_get",
                "parameters": [
                    {
                        "description": "ID of the parcel",
                        "required": true,
                        "schema": {
                            "title": "Parcel Id",
                            "type": "integer",
                            "description": "ID of the parcel"
                        },
                        "name": "parcel_id",
                        "in": "path"
                    },
                    {
                        "description": "Filter data source (i.e. sensor/satellite) for the product list.",
                        "required": false,
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/SensorEnum"
                                }
                            ],
                            "description": "Filter data source (i.e. sensor/satellite) for the product list.",
                            "default": "combined"
                        },
                        "name": "source",
                        "in": "query"
                    },
                    {
                        "description": "Start date for the product list. May be used to limit the time range of the product list.",
                        "required": false,
                        "schema": {
                            "title": "Startdate",
                            "type": "string",
                            "description": "Start date for the product list. May be used to limit the time range of the product list.",
                            "format": "date",
                            "default": "1970-01-01"
                        },
                        "name": "startdate",
                        "in": "query"
                    },
                    {
                        "description": "End date for the product list. May be used to limit the time range of the product list.",
                        "required": false,
                        "schema": {
                            "title": "Enddate",
                            "type": "string",
                            "description": "End date for the product list. May be used to limit the time range of the product list.",
                            "format": "date",
                            "default": "2099-12-31"
                        },
                        "name": "enddate",
                        "in": "query"
                    },
                    {
                        "description": "Offset days after startdate, which should appear in the product list. If the enddate parameter is given too, then the one which is closer to startdate will be applied.",
                        "required": false,
                        "schema": {
                            "title": "Delta Days",
                            "exclusiveMinimum": 0.0,
                            "type": "integer",
                            "description": "Offset days after startdate, which should appear in the product list. If the enddate parameter is given too, then the one which is closer to startdate will be applied."
                        },
                        "name": "delta_days",
                        "in": "query"
                    },
                    {
                        "description": "Order ascending or descending by date",
                        "required": false,
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/DateOrderEnum"
                                }
                            ],
                            "description": "Order ascending or descending by date",
                            "default": "~date"
                        },
                        "name": "order",
                        "in": "query"
                    },
                    {
                        "description": "Limits the results of the (filtered) request.",
                        "required": false,
                        "schema": {
                            "title": "Limit",
                            "maximum": 6000.0,
                            "exclusiveMinimum": 0.0,
                            "type": "integer",
                            "description": "Limits the results of the (filtered) request.",
                            "default": 6000
                        },
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "description": "Offset for pagination.",
                        "required": false,
                        "schema": {
                            "title": "Offset",
                            "type": "integer",
                            "description": "Offset for pagination.",
                            "default": 0
                        },
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BasicProductListOutput"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication Error: user authentication against API",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/APIErrorMessage"
                                },
                                "example": {
                                    "error": "Authentication Error",
                                    "detail": "key validity expired"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Authorization Error: user permissions on resource level",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/APIErrorMessage"
                                },
                                "example": {
                                    "error": "Authorization Error",
                                    "detail": "access to resource not permitted"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error: validation of request data failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/APIValidationErrorMessage"
                                },
                                "example": {
                                    "error": "Validation Error",
                                    "detail": [
                                        {
                                            "loc": [
                                                "query",
                                                "startdate"
                                            ],
                                            "msg": "invalid datetime format",
                                            "type": "value_error.datetime"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/APIErrorMessage"
                                },
                                "example": {
                                    "error": "Server Error",
                                    "detail": "Unknown Server Error occured"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found Error: resource not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BasicProductListOutput"
                                },
                                "example": {
                                    "content": []
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "APIKeyQuery": []
                    },
                    {
                        "APIKeyQuery": []
                    },
                    {
                        "APIKeyQuery": []
                    }
                ]
            }
        },
        "/agknow/api/v4/parcels/{parcel_id}/vitality": {
            "get": {
                "tags": [
                    "basic monitoring"
                ],
                "summary": "Get Vitality Product List",
                "description": "HTTP GET endpoint that implements the retrieval of the vitality raster product list as JSON Objects for the given parameters\nof the agknowledge API.\n\nIt supports the following options:\n- source filter: data source filter for the product (e.g. 'sentinel2', 'landsat8'); default: 'combined'\n- statistics: return statistics per raster product or not; default: false\n- startdate: start date for the product list. May be used to limit the time range of the product list; default: '1970-01-01'\n- enddate: end date for the product list. May be used to limit the time range of the product list; default: '2099-12-31'\n- delta_days: Offset days after startdate, which should appear in the product list. If the enddate parameter is given too, then the one which is closer to startdate will be applied; default: None\n- lon: Longitude for coordinate query; default: None\n- lat: Latitude for coordinate query; default: None\n- order: Order ascending or descending product list by date; default: desc (latest first)\n- offset: Offset for pagination\n- limit: limit the returned parcels; default: 6000 (max 6000 allowed)",
                "operationId": "get_vitality_product_list_agknow_api_v4_parcels__parcel_id__vitality_get",
                "parameters": [
                    {
                        "description": "ID of the parcel",
                        "required": true,
                        "schema": {
                            "title": "Parcel Id",
                            "type": "integer",
                            "description": "ID of the parcel"
                        },
                        "name": "parcel_id",
                        "in": "path"
                    },
                    {
                        "description": "Filter data source (i.e. sensor/satellite) for the product list.",
                        "required": false,
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/SensorEnum"
                                }
                            ],
                            "description": "Filter data source (i.e. sensor/satellite) for the product list.",
                            "default": "combined"
                        },
                        "name": "source",
                        "in": "query"
                    },
                    {
                        "description": "Return statistics or not",
                        "required": false,
                        "schema": {
                            "title": "Statistics",
                            "type": "boolean",
                            "description": "Return statistics or not",
                            "default": false
                        },
                        "name": "statistics",
                        "in": "query"
                    },
                    {
                        "description": "Start date for the product list. May be used to limit the time range of the product list.",
                        "required": false,
                        "schema": {
                            "title": "Startdate",
                            "type": "string",
                            "description": "Start date for the product list. May be used to limit the time range of the product list.",
                            "format": "date",
                            "default": "1970-01-01"
                        },
                        "name": "startdate",
                        "in": "query"
                    },
                    {
                        "description": "End date for the product list. May be used to limit the time range of the product list.",
                        "required": false,
                        "schema": {
                            "title": "Enddate",
                            "type": "string",
                            "description": "End date for the product list. May be used to limit the time range of the product list.",
                            "format": "date",
                            "default": "2099-12-31"
                        },
                        "name": "enddate",
                        "in": "query"
                    },
                    {
                        "description": "Offset days after startdate, which should appear in the product list. If the enddate parameter is given too, then the one which is closer to startdate will be applied.",
                        "required": false,
                        "schema": {
                            "title": "Delta Days",
                            "exclusiveMinimum": 0.0,
                            "type": "integer",
                            "description": "Offset days after startdate, which should appear in the product list. If the enddate parameter is given too, then the one which is closer to startdate will be applied."
                        },
                        "name": "delta_days",
                        "in": "query"
                    },
                    {
                        "description": "Longitude for coordinate query",
                        "required": false,
                        "schema": {
                            "title": "Lon",
                            "type": "number",
                            "description": "Longitude for coordinate query"
                        },
                        "name": "lon",
                        "in": "query"
                    },
                    {
                        "description": "Latitude for coordinate query",
                        "required": false,
                        "schema": {
                            "title": "Lat",
                            "type": "number",
                            "description": "Latitude for coordinate query"
                        },
                        "name": "lat",
                        "in": "query"
                    },
                    {
                        "description": "Order ascending or descending by date",
                        "required": false,
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/DateOrderEnum"
                                }
                            ],
                            "description": "Order ascending or descending by date",
                            "default": "~date"
                        },
                        "name": "order",
                        "in": "query"
                    },
                    {
                        "description": "Limits the results of the (filtered) request.",
                        "required": false,
                        "schema": {
                            "title": "Limit",
                            "maximum": 6000.0,
                            "exclusiveMinimum": 0.0,
                            "type": "integer",
                            "description": "Limits the results of the (filtered) request.",
                            "default": 6000
                        },
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "description": "Offset for pagination.",
                        "required": false,
                        "schema": {
                            "title": "Offset",
                            "type": "integer",
                            "description": "Offset for pagination.",
                            "default": 0
                        },
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BasicProductListOutput"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication Error: user authentication against API",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/APIErrorMessage"
                                },
                                "example": {
                                    "error": "Authentication Error",
                                    "detail": "key validity expired"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Authorization Error: user permissions on resource level",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/APIErrorMessage"
                                },
                                "example": {
                                    "error": "Authorization Error",
                                    "detail": "access to resource not permitted"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error: validation of request data failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/APIValidationErrorMessage"
                                },
                                "example": {
                                    "error": "Validation Error",
                                    "detail": [
                                        {
                                            "loc": [
                                                "query",
                                                "startdate"
                                            ],
                                            "msg": "invalid datetime format",
                                            "type": "value_error.datetime"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/APIErrorMessage"
                                },
                                "example": {
                                    "error": "Server Error",
                                    "detail": "Unknown Server Error occured"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found Error: resource not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BasicProductListOutput"
                                },
                                "example": {
                                    "content": []
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "APIKeyQuery": []
                    },
                    {
                        "APIKeyQuery": []
                    },
                    {
                        "APIKeyQuery": []
                    }
                ]
            }
        },
        "/agknow/api/v4/parcels/{parcel_id}/variations": {
            "get": {
                "tags": [
                    "basic monitoring"
                ],
                "summary": "Get Variations Product List",
                "description": "HTTP GET endpoint that implements the retrieval of the variations raster product list as JSON Objects for the given parameters\nof the agknowledge API.\n\nIt supports the following options:\n- source filter: data source filter for the product (e.g. 'sentinel2', 'landsat8'); default: 'combined'\n- statistics: return statistics per raster product or not; default: false\n- startdate: start date for the product list. May be used to limit the time range of the product list; default: '1970-01-01'\n- enddate: end date for the product list. May be used to limit the time range of the product list; default: '2099-12-31'\n- delta_days: Offset days after startdate, which should appear in the product list. If the enddate parameter is given too, then the one which is closer to startdate will be applied; default: None\n- lon: Longitude for coordinate query; default: None\n- lat: Latitude for coordinate query; default: None\n- order: Order ascending or descending product list by date; default: desc (latest first)\n- offset: Offset for pagination\n- limit: limit the returned parcels; default: 6000 (max 6000 allowed)",
                "operationId": "get_variations_product_list_agknow_api_v4_parcels__parcel_id__variations_get",
                "parameters": [
                    {
                        "description": "ID of the parcel",
                        "required": true,
                        "schema": {
                            "title": "Parcel Id",
                            "type": "integer",
                            "description": "ID of the parcel"
                        },
                        "name": "parcel_id",
                        "in": "path"
                    },
                    {
                        "description": "Filter data source (i.e. sensor/satellite) for the product list.",
                        "required": false,
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/SensorEnum"
                                }
                            ],
                            "description": "Filter data source (i.e. sensor/satellite) for the product list.",
                            "default": "combined"
                        },
                        "name": "source",
                        "in": "query"
                    },
                    {
                        "description": "Return statistics or not",
                        "required": false,
                        "schema": {
                            "title": "Statistics",
                            "type": "boolean",
                            "description": "Return statistics or not",
                            "default": false
                        },
                        "name": "statistics",
                        "in": "query"
                    },
                    {
                        "description": "Start date for the product list. May be used to limit the time range of the product list.",
                        "required": false,
                        "schema": {
                            "title": "Startdate",
                            "type": "string",
                            "description": "Start date for the product list. May be used to limit the time range of the product list.",
                            "format": "date",
                            "default": "1970-01-01"
                        },
                        "name": "startdate",
                        "in": "query"
                    },
                    {
                        "description": "End date for the product list. May be used to limit the time range of the product list.",
                        "required": false,
                        "schema": {
                            "title": "Enddate",
                            "type": "string",
                            "description": "End date for the product list. May be used to limit the time range of the product list.",
                            "format": "date",
                            "default": "2099-12-31"
                        },
                        "name": "enddate",
                        "in": "query"
                    },
                    {
                        "description": "Offset days after startdate, which should appear in the product list. If the enddate parameter is given too, then the one which is closer to startdate will be applied.",
                        "required": false,
                        "schema": {
                            "title": "Delta Days",
                            "exclusiveMinimum": 0.0,
                            "type": "integer",
                            "description": "Offset days after startdate, which should appear in the product list. If the enddate parameter is given too, then the one which is closer to startdate will be applied."
                        },
                        "name": "delta_days",
                        "in": "query"
                    },
                    {
                        "description": "Longitude for coordinate query",
                        "required": false,
                        "schema": {
                            "title": "Lon",
                            "type": "number",
                            "description": "Longitude for coordinate query"
                        },
                        "name": "lon",
                        "in": "query"
                    },
                    {
                        "description": "Latitude for coordinate query",
                        "required": false,
                        "schema": {
                            "title": "Lat",
                            "type": "number",
                            "description": "Latitude for coordinate query"
                        },
                        "name": "lat",
                        "in": "query"
                    },
                    {
                        "description": "Order ascending or descending by date",
                        "required": false,
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/DateOrderEnum"
                                }
                            ],
                            "description": "Order ascending or descending by date",
                            "default": "~date"
                        },
                        "name": "order",
                        "in": "query"
                    },
                    {
                        "description": "Limits the results of the (filtered) request.",
                        "required": false,
                        "schema": {
                            "title": "Limit",
                            "maximum": 6000.0,
                            "exclusiveMinimum": 0.0,
                            "type": "integer",
                            "description": "Limits the results of the (filtered) request.",
                            "default": 6000
                        },
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "description": "Offset for pagination.",
                        "required": false,
                        "schema": {
                            "title": "Offset",
                            "type": "integer",
                            "description": "Offset for pagination.",
                            "default": 0
                        },
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BasicProductListOutput"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication Error: user authentication against API",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/APIErrorMessage"
                                },
                                "example": {
                                    "error": "Authentication Error",
                                    "detail": "key validity expired"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Authorization Error: user permissions on resource level",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/APIErrorMessage"
                                },
                                "example": {
                                    "error": "Authorization Error",
                                    "detail": "access to resource not permitted"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error: validation of request data failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/APIValidationErrorMessage"
                                },
                                "example": {
                                    "error": "Validation Error",
                                    "detail": [
                                        {
                                            "loc": [
                                                "query",
                                                "startdate"
                                            ],
                                            "msg": "invalid datetime format",
                                            "type": "value_error.datetime"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/APIErrorMessage"
                                },
                                "example": {
                                    "error": "Server Error",
                                    "detail": "Unknown Server Error occured"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found Error: resource not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BasicProductListOutput"
                                },
                                "example": {
                                    "content": []
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "APIKeyQuery": []
                    },
                    {
                        "APIKeyQuery": []
                    },
                    {
                        "APIKeyQuery": []
                    }
                ]
            }
        },
        "/agknow/api/v4/parcels/{parcel_id}/visible/{source}/{raster_id}": {
            "get": {
                "tags": [
                    "basic monitoring"
                ],
                "summary": "Get Visible Item",
                "description": "HTTP GET endpoint that implements the retrieval of the visible raster product for the given parameters\nof the agknowledge API.\n\nIt supports the following options:\n- raster_id: ID of the requested raster product; with or without file extension\n<br>**Allowed extensions**\n  - .json\n  - .png\n- legend: return a legend image for the product; default: false\n- colormap: Color map for the resulting png image; default: product's default colormap\n- smoothBoundary: Apply interpolation & smoothing on the boundary pixels to fit result image to parcel's boundary; default: true for PNGs, false for GeoTiffs\n\n### Example True Color image (RGB)\n`https://geocledian.com/agknow/api/v4/parcels/4483/visible/sentinel2/4373343.png?key=39553fb7-7f6f-4945-9b84-a4c8745bdbec`<br><br>\n<img src=\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAG8AAABYCAYAAAD7uql1AAAZZ0lEQVR4nOVdWZMcx3H+MqtnZpcyReoAJIqgBZLgCRAkQFqhoA5TBx3hJz/5XeG/Z4uHKJES6WDYipAe7AgrwrYsyZREyQqHH3yIImES2Omu9EMeldW7K+LYYxYuxGBne3qqu+urzPzyqFrg/1G7+4E75e4H7pTjvo+DanTcN3BUbT/Q3vnleyd2DE7sjd9I+9iDd4p8iLyR/f/bX757YsbkxNzozbZPnvuoVAEEgv0AdOB8MET03W/f/t1Gj89G39ytttMP3S1VJIDbC8A5cBCCn5LPfedXmwfkxt3QQbUzj3xc1rWiJuAggooGCgEgsiEQACZxYv/tJah2Cn63AVJ57DdwGO3cY6dlLRXrWjFKnQHXpI8oyZxQHJcPAQ7oB+6dYwLytgPv/IV7ZBIJ4Na1YpKKKmJS2MNCQAKOdgEnds5+wO0+G3jn7aNhsLcVeJcunpFJBJNUjCKYDMCdWrGWiioVABBWzYFy8AQQJJvnHWfgJB/bDdz8e787RFdkOKyOj6MxoLoQDIKAGYBA1WUVVOgBJpMwairS38+RyxK3p0jOPpgDfteDd7oJxbu/OFggbxvJe/rimRgkAJhEMFaVwFEqJqjqJJgahKAKMEHtoBOZKm4XJalQBZvmlpAa0t0n1P/cWz6B924RzNsCvMtP3KsWiyjYo4NXRVDJB7cZtAqgimACMEHtYRV7VX2JCGpSqfA+vJH3mo/ZoJKdSQa5zADOv4ngvV/+7w1jceLB+9zFMzLaoDMzCjMAkyZJoKUnFVOlE3rwJgiqVIxTxTRV1EkwVVOtnVwjSZ0eD1Poog1AaGY/pfut3Ux0qV9+9zoJz4kG74tPfVZGqXCSIqCQvoEIhRlsEjCf9ZWAEQ6gSmc1aV2PE3bGCeNYMU6COulnc3XYDZ4RmHAbqZGf3ulPlGgXcN5Rei/Au/sECE4sYXnu8v2oIihgECoAUvtWBYUZQynYHgYUplCRAoBMYiopcCMQarVCXYyr7jJUoNYJlcTUnkCIAiAy0hK+Iqk13S0SEXiDWk4B7Qtc+o6d8tGzd4nzowzkiQTvq0+fExEBk1F/IqAyqjnkBcBAhCUzBuZQkb1kuMpUIIUU4EITahFVnSyYqJoNM9VoP9X3o7BvMaI0I6JIUZs9Gu36ILMc/2476e777xImfY4TB97XnjknIj7JWQEUBrE+UBXBwIwFEwoIDAKpQgXI3tuIVzLiAh2rCcpGR67YYcZYKniyvitAqHlMe1dBGoIqf6r+KEsdoVeVez5h33kGTtLrf37xLp0o8L7+zDl9Qxr5VxAYBQIiwcKOMREWpL6ecXz1AQEDs/nYPhhVSKVTBDtgLJixZgazgEltpGJes75MbbdspSuZsjS/Mc8AyiEd2lfi8lU8bXViwPv6Mw8ISCVIkufswWWCoDBQCGDyY+p5kw002eRn/15SaQICA6hgLIiwYAVwLIJxErBJVzBIQqjgjjy2u+ruUfZ4r1/INHjPt1179+0TZvOeu3xW3MH2QSNncmIEAAQmoJD+9Fnc2x9tFiXrJIgIKFCWuiTGkgkjM9ZclfQYjXe/TYhm4y6mPRvDJL9nvxzEFIH7fnPpCmt6XeNyIsBzpsiUpEYZQ7IDOrhsEqTAwlSsdZQ4e0gICYgIzAJioABYMGEljJEFO8xYl4oKBlUBhCHQiEyldB24ewBU0jdEAEtjlu3yNPt9N4B72cP3Zi5DubFhPPr27FP3taE2iSNKABpoJXw7BXB3MMtZXLIxiSpycgHUbTBHXgSjOglxTbKbkeSRtxhpUqv+QfTa7kVMkvskR1a3PYBz4IANB+/ZS/cJmf1SdagDHIYf7bPBfhYy8GxQ+hiHdPzPx4pM1Xpozc9UBmrxTyNFen3pgtrmQCYjaPZVRImSkSaX9vjZCVw8UDcGBNoTOGCD1ebnLp8Rt2XF7JkzRs/LMREKMRbE5hb0flOzHs030w8SrSeY427khgAGY4BgIGDJgtVQIcRYV8E06V1JlaQyKQnz3BWQdB/J1gXyPp2kTYT25T0Zp7eNlLynL31GgUvSRvHPGgGF1AkfiFGIww3QJrNXaxR6t010Mp2oZ7ICRMBEieKnoaySVGXfu0lde8UduWTPvuQuxS5LR8CVX+1fzbZx4F1+6h7J2QF9TmnBYWl+3IIcOEr0v/lU7fs20021Rf+hopr9EVFmKdSc94yA+oRI6aOMg4Q70qxXnk4twxCdoT2r/Rbvr/z695chbhR4TzzxKVG1pRInUMJQIag2kgyl8isuWBKbZJL5bxRRffGXqdjwDohBzCAiBJF3CRJSQECdRFE+TxqAtTYAg+9m8CQDSOFOaF8z/Z5gI9CHAgdskM179PwpGaWChFGSqxMKxVwDQrJzxEHP9eTMIOyV82nmm+U4sGfUm5iFQNi1dFoIBMKDgiZAZX0JAKo1ips6N43MjsIIT/Q/Oy8s835Owt5tI8B79PwpNweYRCB1wmD2bMkFhRhkUueqkk3qQq1aX0Izww8bEEqvdF580+xgdjLYtQAAoqIHQKBkXWkCRksnTTZfWgissdJgTCnYAKS5ZqRJINcldcAGgHfusVMi4lS9ZcCFgRUX3FEGLKiEeSogLMDBPN3XI4Mw7KNJIYFS9N/VaqPuzkOJs4cFhBo014NF1TMXbiSKAGbCegLW1SWw2WcHhkLSkjrxQHb1yUYACa78+vpLI44VvPsfOSVjFXBpdNlFhqFpnQUVrLiBp64DIgeWTX2Tot6CsBvCuVGKbyizbTYqugmb1eKlEhNNwQMKC3gSjNVstFhUKJGaPUu1BfAcoIjgyq+vXL/OxDGDV5i1PM/qRQoTmBiLgbDigkVhi1NaBCRIddM0eUg8AO3hMXCj4U1dJtWKJLni17DWTY6eTBABxKpFhwosGFgUwiiT+oJVtcdUtYyiVkFF3eXDwe4RlfDeDUict2MD7/yFz8hUK4RIyxiqYAHgI4uCjwwDVqVgQdxUm6vWUGoStiXsj/1PTkpC4Dg0VYWgkmbmTPgAKHCuHoGmdpsS9biqB8HZ4qDAEoS1MHaEsZ6qvfT9SBpeowpUqs0+55SE24AbbMcC3uUntWhIWRxQJ30oAmHBBdtDwaoUkHAqEWhu7J40Hkg2zYgeu6prwWpnn00lNgpSpIXfyHw9Z/f5fHdJnDQV0ihQqYyBJxSuYK5gZvCkGf9xIkykUtgyEHr1d35xc8vKjhy8py+dERF1MMnUpDrIjFVhbBUFbslFB7B6piCrNAOtcXoAiCgJlN0HkHoFIzWkMBI82m+SZALgAtcx1uTHidlNZkBYA+FOH0mqEpqpokwVQxUMk2A9VqynCeuRME0Tpqq+K0Tw25/f/HrAIwXv6UtnQhF5MBhC6tcBWBbG1lCwJFWZJKwhJWlsMhTkLDqRQ15h4qhhSXY+2/cV3xr+F4t9NvO9IMm2kvuOChyKSSAzBpNflopSDLgqWEyCnaGirPV5dwjAOEEmwX+/dWsLOY8MvGcunRG3Xx6rZBv8YoxwVViLhogxgAFiTbbuYoczO+c+WmfnqBHMAL1dtwU6xJKmlKJgPTN0Uuj3ke0pXDWTujEETQgXFhQB1kVA6yldsecrt9KOBLwnL94rY5WoL9HAg1ZvFQIGUmd8xVqC0CQgc3eXO3dyZUZUGlBA4wOUuhEjJEKcgsPuWcdF+0a9VIsBlllrW7QpqkVY7Sd7SqgQICXug4jwm3/6r1vG8NDBO3/hHhlrVcPOFFKhzmwFU8HAZHaOMcBVXPbHsh0yqp6c3wicUJKymc+mqhdwRuKK0+MzzeNrJX5NglvJQ3PyW0DAV98C6rSzB8Dt/MqWorcDP/m7fz8Q4TtU8B6/cI/4wo1qMzhHwt3uDURYMGFBhGIOrRtHyWuqBK2utfGELg/aJK5JZghW9JSOJ1cjZxHmKtJjqP3vzhybtDOUfXpJPZOWVQjUfv/93759UFrz8MB75MKnpIYKU7ox1goRlcChEBbFsgMmcRx1wfp8knDzeksyO+kMUvtv54ldz78fxT56xCZGhStSPSopWO0DLfYChGo3mSpJrG/w5ytwu6d5xQl91n7XCqMDaIcC3rnzp2USpeOFzEEWwlgFIyqWKFgNBXcMg0ZShDT9mcIeXd2VSEgama3jgK/pR4ngrjkAe0Q0Iva5WxzhDEdIi4u0KNfilRFW04noMUwQrAyDY2I1jS/d5X/45s8PTOqAQwDvoQundQcGY3DFSAoTNFQklh1glboVM7hCK7OiUTfgXUwRnr/LdMUlKJUjpAqt9k5/7iUDAgoi4sBNZOkf1FCXLuVtnlE4663wqUmdHaG/+eu3bmFU926HavMEWmeyZM29oejDL7ngDi5YgjWqIcmDI89yWychcZSkD71Olb0mdGKiUR+fP5mdymqXhVWCJ2orh2rW5ma73V90d8flbO4SFAK+8/rPbm4AP6QdKHgPnT/dTWpfarVVCpZlwIIZA+uxAUpOdK1IQ4rI0zMOoBhz82kv8dIwln1fEqHxWW9dNGxb+V5ukaBlgbCBxmrX+t0jCMRN8iOQbaRM7MqOMxO68N5BtwMD7/7HPxnVXv4gC1Kne8kF26VgORQsWAO6qAKpWpyggtHqSnKJn+sqSjNcS56jsCGhE1/CTHijr24obeQ95OUkpbL0QWS0Pn0ONTVpfQDIJ7vcv/Dajw8NvQMB775HPyHV6bLYClXyOOWAJRctFMqD10ilgaLpn5bozEYvMcv4n+EZTy0jd16Z7aXEJEiyHd2Gk20qM+wcmlvg0ZXEZxJk6VIpneSS+s1XDw844ADAO/PIJ3TSCTBJBZGWKmwPA7bLgBWruiwGRltqXFtlgjTJ6iRm9qaFr6j/OVsT0D5JbM/7gDNZC1qGtClwEzSAUN16+UUDOPtd3M/ze9Y+PdLywqv/cqjAAbcI3j0Pf1zI7NBkXt3KVtdslQFbRV2BwdiYPzDQVJDaOVbviHyFj8RnEdnwi4bJy/Nff1ISjdZ/tnFZ6oxZcpM4lTrbGcJdCZ9gaJQkPYVe30oafCxe/M7hAwfcAninzn1MpiqA1LABHuZS4IoSFTIH3IUECDWoQHGU+vl4ByzUDXd6n4/255ExEv/Zn92w14Uiyir15atku3KmxpnmPXVOZCM1R9luCrx7H/6ErKvunDCJKIMsBVtDwfawwHYp2LK6Sg80x8odA87tWvhIyWZkCfVGYd/8ANoqIOgwc/QLKGXN0inpnRKS0YAbLWLi9i7iZvCAQLJndm1lts2/dO/upW8frp3L7YbBe+Dx0zJaTUatBF+86Kpy29WlAVeoLctqw9GoNhOBrQgWgIavPN4o0rlw2dJJOpCimGiGFL1PIJKAk5C6kapKHtDUJRCWcV6U5JOG8kyze3j5CIEDbhC8R574tExVMDDgbqqIYGmsctvU5Yo8J0de6tjUj7jE5Qx5i5dkqzJfmhhuXlKTM//ZwmeITyX9dIlT4CoqVfvZqH6PSVLUbW7FfaRoHl7+9tHYudyuG7zHnvy0li+w5sQKCZg1er4sjO1SQl0uiNTOoVHsTPYZmiFRddpbOoq4I6lamldx+Syw0eOO1NjxGMZQghBUkzgFrXLFxDWkEC7trodB6mDPZgml9/7zQ/dAPqR23eA5CI01WvoGwKoUcwvcznFIVcPFwTEbaCq1xQq93zalowgIiKhGtBRNiXsMqZNkC5uqDHLCLfzlGYO+d6WioTbnYm7vrUCJXnn1p9c7jAfargu8x5/8tMBUoEdPvGpqYJW2LSsaGmKpFSX15nNaw0vsTNNKCDKVyNQf0NqSmAMzGupr43qF234oq1Tqr65Azy5z1CWUt1DqM6xrazMAX3nteIADrgO8h5/4lIiY/wVf7iu6WofZVKWldmzxxywIFYMTds7il77wX+2NSoD4zrRQyYuFj24BHWzhAC1LjhMf70W3qTJGSQiXQKLHXJSUgOyFvG92S6+89tMjt3O5/V7wHjh/Sqaqto2S7nCfbml2bsUWs/QlVw5fEoQMXoS/oksPAM9jic4je4MTCVYCEGGxXga1wFZzcXOJm9LN5W09yFUlsnDl1X6pHY+Z69q+4J27eNpDDbZyx+tQdPXOilXilgacLnLsSUr4c5gpN+cbTvFi5aS1WdjfMwotqgFnNpb8TBMB6LLdE0kkU1vZAiEKmEJLZ8nzO0W+Ynf0W989XqkD9gHvwadOC0QXUUiFbfsLLFhrKrfLgC0elFkm4Nwuxex1ANFYmpIHAkfyta8D6eY9hVK1U7OiRJikyDaQ9Y9s3ywTnqBnQHdj8PV0QFt/ki+XnkHSdTcBOGAP8M5eOiViNo1BqCxhJEg0zbPF6tMtiWMXBl3DNget2ZDWxPbC7Fl4riEJEhFf263M5nQDMCd7JnUTksT5V9MdRc8zZzymVmKbBMLL3/3JRgAHzMA7e+mUADoI7k8RgMF8u61SsM0FW+SOuJc5OGiE+T8Awal9WscK0W6zNWOVKaJMs9Fs1i/Jo7suZuOm9KpSIVQjcuLsFFnIk7rOlWTxOeKiG9cCPAfO2witGRlAWBbGCgXbPGCbB6yoYAE2R1t64IgixeMD5epHATDHQCh8O81Opxk+T3Wj+YF6Avo3pi4nVKwx6Vb8aOrSVV7s3hBa19YstE4aEfLrpejLS9/bHKkDDLw5cOHYGlEYiLFKi/gXZKtiSFoo0R44A+h9ATZgxlQ09wdUqdDArxarEiwI0LUY2hAAidng/ZuaRMVoUue2NEhRfjgkVRkktrkk2COysmnAAcAwB86b27zYbcGj/iEdEoPdE+y5verd7grBJIKdUTBOevYwMBZFmaywxAQI5pp898w4JfdJtdtyGPCplEBJEwHdvTfNEFdJAG4icADAv/rRf+66MWVkrVCITLloHaOEAwwjJvNVq9rEbJge9JK6UQTXpor312tcuXYNV65dw/s7O7g2TtiZJuxM9ldIbGf2ZCqD2biyi02+ySXOimRndMTTOgzEFle+zVX7hNA/gCRp3Mw2AEAG8OylU6JbF2pWYDBi0pXkkQ8fp5hjKpRNAxA74ZnErSG4JhM+mEZcXU8AgG0MAAkGKSiFwGI7QYTT772FYxHA1SRxU06kxvcyzZm3+XTrXRAAeOn1o88WXG/b5So4kOcv3yO6oL8BmH8v3BKou3gEGv33pcSjCHao4hoqrqLifZnwgYwgAaZJMI2CQSbQpFKxLAUyLMCFzOFUYCq1vaG15LxG6XkusQjZC13f7pI6Fdyr4nzkpTc2U1162zfC8uN/+I+48S997qwsDDzfv3lgK2PvZrTTB4rKLJUQYIcEV0XwASo+wIT3UXFNJojojuzjKCi2AzATsDUs1B4Wu0WSYJAj2t9DaH6cnRYvCU2oKp68my5L4JFR/a6eLSC89MbmSpy3G7rBP/vCI7LF6uvpBjbt67viitTqREYIdkza3p9GXF2PeP/qDnZ2RkgVlehie6tUXdO2PSxw99YduGu1jWXR5ZBq2SwDDqs5Qcu2M0n4nN1+YYk95Z0BdSVPnnr6/sXXjzYjfrPthjLpL//gZwQA33ju4iwe0ZzmtmO6xPvJ1OZUJf48DA22QlUAgHWHBhHdBEB0Ef7VacRyvYNaC5hFK5pJbecU17E76G/HSFbSj+FaSH+ekRL/f0/qvaHtlmfYXzz3VMQofKc8DQYjakNGqdiRiqt1xLU6YUcmrGVSOTK+T6KV1r5bwlIYf4ABH4Fu6zEMBB40laQFsuZ8Gyi+mMVjrOFwxzlNV85X7wAeNABe2GCCMm8HdqPf+IqC6FVYE6m0jdCazh2p2HHgkEoQoMFvqdClzpYaGiqwNTK2KmPFjOWiYFgyuMw3f1NgGFqiEeChRVIkfBb9LVOUfPSbG+rP7dcO5Wb//KsXRaMd+ufPRhGTNg1fjdD1AL66tCbwfNsnroKyBhaTJn23lgWrVUEptklY1E9Q80uZULziL0venpSqB++vThhwwCEt8frLN/+RAOBPv/KYjPZXI0ejG1ojaWtKfUenFEHxtXggYGSVxMq+662uWCVuHlzkBuE+YIsExRYc3f+tnST7tlc7ktn2hS89iBFVRqoYOWXMg/W1imOvxBJR30+qFvXesRiwvRxsPzINDrAAqASqtg+YLZf2csPGV+YVzdS9e+EESh1wDLGfJ//4Pv2bFC4VARbsZwPPd1kYiLEatDZ0UTh2emcoQ+rAi90YZravQ6899osnFDjgGAN3F758n0CyRPQgAjCPXWwj8IIFFS3DiEpsitinb/EYkR+iXRyFsrgDePF7m5ERv9l2bLv+/fP3fxMDd/6L9/pb3a1KoGWBTJoqMj3oezjUsGzN3fRAuXtr+o0+3xE1oCfd2FnbqJl34cv39paJvb5Td39gaKB6oLZ1Rg6LFVC8mNvq1QAwSflLG1KHcittYx/giefulZxL1JJBjn3KiofjLDBA0ALdAgORyP6qVyo3NPBefu3k2rncNv4hLn31DyVyhrlo1yTKQ3AAwAIUBzDydq26mwj41qu3B3DABmwQ/mHtR2/+GwHAH33t7B5rYXenozyT0ehs8xluckPZjW0nchZ+/vkHJfsCadl4IynGQAt7vQ3w3e/97EQ+737tRD/M5//kXOwqBfS5cj/ufxDxzdf/9UQ/617ttnmgZ58/Jxk+zywwAd9/463b5jlzu+0e6tnnH+r2HPrBbQoccPvZcPzwjbfodgYst/8DlbhK9Ub8rA4AAAAASUVORK5CYII=\">\n\n### Example True Color image (RGB bright)\n`https://geocledian.com/agknow/api/v4/parcels/4483/visible/sentinel2/4373343.png?key=39553fb7-7f6f-4945-9b84-a4c8745bdbec&colormap=rgb_bright`<br><br>\n<img src=\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAG8AAABYCAYAAAD7uql1AAAeKElEQVR4nOWda4xt2XHXf1Vr7XO6b/e910pwSIySgD0JsZUZWwK/B7CNH+PHYHsch4fyISYQQRICcSQw9sQBEizsyEZKJCSChBFfwhcUvkQ8nUAI+IWlICHxLYCw7PihKBk7c7vP2WsVH6pq7d3tO/bM3Ff3sK72Pd2nz2Of9d9V9a9/1VoH/j8az3nps+05L3223evzuF1D7vUJ3K3xRKB97pNfurRzcGlP/KmMb3/Zt1g34+uZnCCIwGc/8cVLMyeX5kSf7vjDr/iD1s3oBt1uDl8CJzEdZgIGn/3Ub1/o+bnQJ3er47se/DZrZvTVYQaGHwKo+BQkcJi4hRok1gZ87tMXD8gLd0K3azzwqu+w09aYe8cI8DB6dys0HLgCQAKWlsfZ29U0xUP4/Kc+f8/n7p6fwJ0YD77uPjtpMzfmxq43Oh0z6BitO5CYg5eWZyYOVlrm1wEOBtwAfO4euddnHHhveOPzbdcbp61xGrf73tj3PqzPAhmBQMSB87vXPwMJ7hnggAHeKo6K//y5T94d0vOMAu9tb7nfZuvsemffG7veOW2NkzZz0hpzbyA2rMYMrAdYa9Ai7gWWA0AY+Kx+sHO/w+C1Ap//xJ1LReqdeuF7MaoIoKCCIqg0BAZZKW5qqPgEtw5d8Bho7jo7YBkUOes2V/gE4/la4FgBB/CtL3/2CKdf+K+3F8hnjOW98+EHMmRhwK53dt1j3q6F26S7IeGAzsBsRjOjRUzsHSc13d2rrdjneggGYuFO09bWLlRAHLT8m60fYfClj98amM8I8N7x5vst2aOqIAi73jjtndk63friysLKOrDH2NGZCQDptG7MrdNapzUH0zqDzLgLNWRldfnPf/e0I0Ip6wtq5VBXQdVP6Euf+J2njMWlB+/PveUB2/VOAyZVJlUQCYvq9HR8OdlhCjOwl84pxjwAjFg5N/b7xn7utNnoDXqPNwxLQwgA06KCBGWMFHe5fW15I4GM25FMetYpgfgXP/nlJ4XLpQbvh972x2wXTHLX+7jqiypTKUxFl1RAbCTmBjSMnRin4uA1ces7nWdu7PY8frLndNfY7zvz7BZpAApuecvkycrq8jAROnLG8swWwGStAsAAbvhaFtP94hMIBJeWsPzIIy+lWcc0KYVx2jt7MyaEo0m5vtkyFaXjsc2CrCBGkwQPZowuRsM42c8UhN6M3ow2d9yuOl1sIBbU6Ky0JnGRxHv4aQkLv81xc4v7WuD8zb7lxd9m/kg7A+SlBO+vfd8rLHM1w5CwhpTCqsBWC1dqZVOKxzdzvydqqBhNYC/GVtwKTR3EjSh97m51pbPXjkhfzecCoJmE6wxx7azBeOxbhLdw4GdhXIjqzYDLy3KJms956bdaFb8ILx14f/2dDzpwAoJS8EnS4unBQTE2WjgsSkUoiFuIKJ4mCBoANPHY1yUIjBmKcaqVba2c1kapHW0dMQNpMbfhgHV1YraCKdSbbn5ObnnmVrlg70MSwLStxeLOEJzlbTCB//3xL8ilAu8nvv+VgE+0maAJYNweqCJAVWWrJcKTX+8l4lQxUHd2wR1kAY+OWeFxKWxrYaqVWjpFO6UEp9S+kM5hbqw0tfzdgUtAenLSgZycN8Ll/ptYXL5FB/7vJ74gcIks7yfe+XJLoSOmfrgtT8iNSZQqQlGhiKKGZ+ACKqABXDEQkTAcp/UmUFBmlENVDkrhoBZOa2FfO81sWE+P+RVZgBvEP9WaYYeygsMfPLL2eO7yl+X388Dl+MKnLlnM+9F3/HGbraFmqHgqoEECeuRsijPLjSpFxE3DcvrS07mJZbTsQTZQEHWFZiPCoRaOSmFXCqelcFoatQuYxpR2TwE0LKQveqmFFRPvKZi73DUYo3ohYLYAZTcH7InGpQBv3zul4OUbcaD8R4kia17pSpFCERlVBGwV+y2Sbkt26CqJmFDE3fAkwqEqx1rYl8JJVW5UZTZFm8XrCk2gES5cHC53vzJ0HAW094hp3d/PcAZqqaU6m13MrvsnW+mpOb50LmUod2Cub+t411tfZN2cUaouOvGg5uFEq3ic24TrhDNplLutvLB7ujfPxxAo6gdhOR1oZuzMQlqzcNHhLkUwWVKA8dKidAmFxdZWtx4aVnf+PIU1OmsAzwMHFxy8H3zkRaYCRTyGFXE3t1Y0iiiTFjZa2IgwiWZEjFcZXI+165IAzS8KocTFYXFBdBMazkD3dHrkk+mNBz9Z5dpLUPYz0A5iNthkvvYAbZAWd8n+vMRI8qX40qe/8LVmyAV2m3/hkfut4zGuJhEJs2jixKEIVClsRZmkUJOGj3qdU38vxmbmJYPQSVwMIjaqPmJCQdmIcqBwpXZOmOnaOdHOft+xGZfMLPhQiNcJbmYQHu/8fBK4RSqTYf5JnZY8YrnIzG6KG3BBLe/73v4C67hFVHUiouurFANxV7nRyoFWJlEKMtzU2tr66mcRQVRRlUFU1uHFAvJOKDNiNI0cbfWvmwwAl0tl4ZVqoN3InN6G2a7C2/g8Op63nIzffvm/PXFh98KB98hbn2+yak/I2NO6jTrbFPEtjyLqKQA2piEpfWfpXzFAtKDqNT8kE2h3Zd2E3oVu6qQEf75JWoEfzaB1aM1v834LF7kcaXkOao/XID8LKxa8TijkGwMHFwy8N73lu0xX8a1jzNa9QtCd6RWEw1I5LhOHWilS3Jrw69cJBa5Vhl7ZLGpzoqgqUgqiusQuvGpgzcFr6HBx5n5t5JUt2G1rMHdWXWnhAuNQGFYH6zwwH7uQmLPEMoD7zM3j3HpcmJj3moeea7vWKCiTK1kjiKTHwUBFmUQ5kMIkBRNhBtwlcsZdrugJGfEsmaIy6nojdUBGzybm+uFGFKjOQotbWu9Cq2l1/i6t+8WWIxW0ODOS2Qwwg43eyrgQ4L3mDc8bqdiuN/rs+uRBrRyVQhVFTagmHISrrOokpgeqPlehgKwT35BXhntKi4sY1umYJnQuJWdWX3ALKigqFSmZSyajdYZ6Ohv7ZsxZfYfAKv0pAzgzG6mOyfK4tfU9GauDCwDeK//086ybMEUY2lvndG5YMY7rhuv1gMNSR0SYEA6kODkhmJ1IAJESlrf6iWVTrWDibyBKxDAvA/UkMqqIesKOdBYy78So4HG4iC4kSqHuoRbjZO7sIwZmd3Y3sJEuGNb9M6aBWvzdohlYBL78mSffeXZPwXvJq59np82V/qmEr4wPllLXFa1cKRMabLoA1aIGZguAHaf+tjjI0C9loTIqnnxpD4XfLVWCjiuyKtH4/SkuuwKjFDpF4/XVKMWoe6MW47QJc+vM3WO0E62ownd/TQsPkF6zxwWCwZc/89R6Wu4peBvVaNMzbN+YVJiqsi3K1WnioBQ0PmhFfe4zBbcQiNPLpSVG6UfUmadlJo7LM12jiiCZYfu5KILaKiWJnEvHqyepjxJTnSgK2yIcVuVGE05a4XTunLbOfu7sWnd3mpqNraKi+F0qAmp88VNPrvVhPe4ZeA+98QW2a50O7Fpj14zDqhxvJr75YMNxnTjQigVbnAyPfTgxaCvgMinO2pkImFqIFh6nBMWiCDsHEpkAC0oxpZoO8ILJp87hro9ktAVV9xYHFA5NObHCjbbnxr5xY984mRsn+87p3NlJYz83Tz36EotNI1r3p4wbcI/Ae+TPPGD76OjpBnN0M6sIh7VyfePgqSli+jVXfar2FoE/k13xm2FoVtx1lrBXk3StAYMknXf1xgu3upAfWDi+CJrKjXqiX1SoIkwibFA2rbCZZqbdzLRvXgvcd4o2VGbmBnPrQWo8BnYVfvvjT6/D+q7nee98+wOWPFqj9iYi1FI43kz8gYMN37TdcqVUJqmoKROFSSSaZn0YEsAKIoqoM0kVRdRVZinejOREQ1adXf4cDcmtokxE5T1zNVbJNqmf+B2iENocTIpUQaugRdGi1FIopVCr32opUTheabNxwX32N55+a/xdtbx3PvKAWVz3NRSOjQpT8WvoqBauThuulMJhKdAqXTRi2ao30jw+hUA5NEryNlglIX2pOe23eDxhXxb1ITFDu1fZs50h246G+BxpSDYYWcGBK8E6xe/UXpimxmbubJuxnTvb3czjVfl9FXQH7Nx9/p9fv7UFKncNvO9/5IU2Jn9Uv91NbYKCH9XCUa1stTCF8NhVw3V1bClzLrFoAIjfhl6ZvXlKKGGZZ6FUNFKEDjRPyGFp+CLl4zzc/EwMIpZaEXfLZUkhAErxWLipnakZ02xu9XmRhOu+HeOugPfww99ru9YJz4YGpW/mMemgVA7LxFEtHKhSzGObidfQXPRIm11UwFENOFcdyCMfq6tnqjm6Q3M0iWTrrDqTUoiEWzfwBF8tGmHchbpUaZFoOzhTUZoKVY0ibuHW63hdEeE3f+V/3TKCdxy817/pBXY6d6oKU/FcSQTvZjaLBlnlaKocaWEbJMLntjvxIAqkJpF42wpAPA5Jas0pTksUH4TRcoX/rqZDLHbGqZHiR5ovXotwS5ZRBRYxROOcpIfo7Z+jmT9+KsoUREYRKJ1ei7vjcPEf+6X/cVtM746C9/o3Pd/6SFYFlcIUmqKrVkJVYavKobrVVUBW+ZDpEufAnyeZa8n5w3syw2MGgOkC403TqIblOX/NeOjdZDYkNFE/ukR+qBIVC5fWuvWoJmSXmk+qVyWMirAtSqdiIvyLf/zJ2+MzuYPgvfqh77a5d59oEboZJ3OjWWdTlO1UOJwKR6VyVJRNaIkSLMwnkyFPytAaZbBEicqzV8UjLqW/S5c4kMr/e1ibDCKyPDzKt5LJfILY4z4XBpp0X5QSC1hKMF5PHdTpUJaHGB74to87At6Db7jP9tbQEHFrxIxd7+wa2EY43haub7ccl8qBCbUbYt58YxH816J7EQvvFVJVqJs5MSae62ZRQCyAHdUJgBStm7cN+jMXI4xqQ1dllmyBb7RodV8e56WmFJSrKDXrinFCfbxtynXwz37hv9xWHG87eH/ioft8B4be3VrUXWNFIVbtVFEOS+VqmTgqhdIMzcUXoqPBxw1vUTZKuFoJpWXpUM4JyrJMxLdsT1hZ35DEFu47gqcV6CK0Et3U0sdqI5OoPmj0eSZxFkF1AY8E1dJ/CCom/+gf/vrtnuo7TFjMq95XamXSgk0++Vdq5Vl14hBl6msxOFyhLq1vPvmeS8mQu1hmL0RqW15hZXlpcDKYYd63vKUtoU89xvZizNp99ZBlw20qN8lsXY/xakN4isVpR/xzt/2zP/drd2J2by94D77hvnVwQUXYauG4bjgKoXlbChsVtghTj9ab7qxvkZ10KBFnANWsPETOZyBWMIvmhyRCLIRFRiw8F38Esg7T1bDiKYCp0Upn1saMM0nrNqxTylIOKlko7pkuLCuHFBdgdLzh7R+3DbyXvPaPWGqB2S+yKYWDUjmqlWvThuOpclALFUFax1qLFEuGUpLba0g2VMFoGsrFIlkIyw6s1CdH+kBUf0YusXKl65PWJR1Bja7QitG0+5FdZ1ETTCXHWwVlVDwge1K8C1uDdCnwng/8uzsG320B70Wv+Q5rZtCaM8HiDUJXpw3H04bDMnGgURHPWJbr2DRcXHQ6a8QVXZPFlMDShJZijz83rhp/OSGJKufc2PKThGLSh6ts6tWGPDwViIdmRSFTB7Gzr5pXS1xXHb+g/tYH/u0dtLvbAN4LX/2dBsTauI6qcqgT17YHXJ82XCsbDtWtDXNVvUkEczUERc3pdVENUmKjKXZUDoDhjy0yqlGmWZVZ1v5xpTCfsUvRuHA6vXgK0FSY1Zd8eddYpB+ri8HzyD7iqL9r9thk440TljtpcTluCbzn/8lvtwz/++4a4VEpHNbKtc2Wa9OGI63RLOSPy/ChmMcxh49KiViSq1fzSOYYcxkuCUtQx53++8oYUpjGFvhHu5+4tTU1ZjX2Cvu0OlZpirAk/XnRxdIWi9QmH5Bn896/f+eBg1sA77mv/EO2754zlaDLm6ocTRNXpw1X68RxqRxqYYPnZqlRAmhYmbf5xcEyUetFohCTdmbxQSYSRsu78vkZ8FLzJJtwcx2CrUDzYycW4PmuEBYphZNQWfpByevHxntCgn1XMBvjaYH3va/6TjuNvU3mGTZFOa4TVzcTz9oeODmpE1dK5UCESm5cw1hWlTW2kjmSZkzLNVh25j1X7bHkNBqej/VwrYUkKgJaIBZbgoXkZpHMd2b1CvdOOjvp7MWXOTcxt6jIO8WWOJ1uvOf5iOEWuFxw7/t7dzbOrcdTBu9lr7vPTlvzTWi6xeoZYVvcVV4PqzsKrXISYunxEh9S3ioSca5EMyx42tCyWm5nIFwZIkJ2D2SOJ4sHGyYYLHFMt3eWNe3M4uvNE7w5WiRGN5mtxO+wPL+mltTD33Y5w0f/7t1xlzmeEnivetMftbl3kDLa0ZsZV2rl6jRxbdpwtW44KpUD0XCXROeXRDueq+1VFuW94GnAqCZEDpcSkz9bhktdxzgvHZ2LSWIgfTzKxPPCLp0mjabNAdSZfek0icWSLILBkuSv2iuMWAmUxGlJzB/9mf9wd30mTwG81z78PdYNbxcQ7ySu6oLz0TRxfbPhenWrO5TCxoQKsaAjqEWIj4r/bQqy4hrkomdm6/joNJZlIpHF1sCLulkWKivg8u/B/6L5qNGkMevsSXgJICX10Ez204UvBChTxRTOz3iFuw6bjydveeGFSjTDmUb/JMJxnZY4p5XtakmWINHrE0pfrEKt4q0DoykWYbXiccQ3TYtNzZPhAM9ZniDSyV2J0vI8znosc1fZmKUxqwPZY4MAv6hsYaYryxsj05AA0Hs+kff/7MduEYanN54UeK97+HsMPHHuEgs+Is5ttXC1TlxL4KKFIS1CZHE9Ekl4iTpeSaEXWKJNiMChnGRHdDbRJvUf5YMYubGAZH8mbhu+XYexl85ezI+RFkjYbrhg00j6zwK3XndwFkD46Q/86q0hcAvjG4L3p9743dbNrUTwDWcaXi04rCVcZbjLWFasZGUAhvIRlqjZMheNO4h4K1zPco3vzjeelxXwkLBYTeuwVixUGl05NC/pzHgasBwOXPecAsGio0GRno23nBHGB/k9B+Df+cCv3iOH6ePrgvey1z/P9i3zOACXqYq4bnlUJ67XJS3YqI7GWFnFKTEbmmWRbMNz/XIwuDjyH5Jbb5zxVGP4Nh5xp+Wfkrk4/O4qfVlygrcXmNcuPMHrvpjFXfXSyJud6jcF8B6PJwTvwTff5wJC9wX1NuM5WVE2pXBcJ47rhit14nAAJ0tLeoq4QhRPZWFu4EBFdm29j8UWLm/l1NnC9CT6TcIikL5SThYXbbhVzdLDVbbYW6wvF4Y/CNGMcdlTLcGG7YzXyGPRcuCn/8HH7qnVwROA94q33md0hioyt85ubhyUypVp4vpmy7W64WoscBzAabbaZREyJ2WJH77ewmBeaP+yvifIS7g/CU1sTV8wIomOLS/iQhmLISXEZTVvM4+WBSMXLDOYbG4pxvJKZFo/CrySax5iGLz/g/ceOLgJeC9++3OtYZ5AWzSfRou2Ihxo5Vrdcq1OHAWznCR3HWJ0Bi+uM/6tPr1ZLsTPJVlrOSxyPoGQh+MP2fFl5xSYeKJ40t7wOLfHE/FZWpCsyPrM42gK2GnI2HKBrV8dk1UVAX7qggAH58B78dufG9PitNpwdripSu3KtTpxrUxc1YljndiKMAlUXWQplVxfkCtuNI0EzR0ojdhERhf3FJWEXLnqfGdZIivBLlOlWdT8xaJnGnsaOxp75uw+Wb4UA3/fsYgkei0lbPtsUMsck2hYMrgwsPkY4CVwsBJvMTaqHEnhWCau1y3PqhuOJVoYxJtK3VWGxZBa4JLwep42ZgyISUxKI1krk3MdxUs6YCu7sLDqfIyZ65V7Gifs2VujWYve0D56rXOrq2V1kFcIcmXQqP6Nl0426z8/+sG7r6J8vVHhLHA5elxpIsJGCsc6cVw8lzsQ36ek0lHJFm5WblLHBqBDCzG8Xdw63WDffRUpIpTiUlmxpW1AVv9jIU2tBOCcaI9zfqG51c3saZjl3itrmiHj1zURkXwhlqWZaXjJch/90MUCDqDeDDhg6I9TlGuy21cGC7PRo6+RMxH5nQwavzDAbG836+yacWO353TvgG83lQPzbYVL5H9OdhgtBYsFGl4NjDXlsTTZXWVnHx4DiCXKI2JG0r8I2Tq60OI9Ypit7Fzg0Z+7eMAB1E//8m/JeQAFX4m6icMXNCYZ6BFJJHpONLqnNBb3LxO2GI4N8OZmPN72PHay5/dPGoJwfDDRbMN2qhTzKkMN6062mhwlWaWTE7z5lSjr4LW9Jkv9TUJqSxNb0o102eEyl1UmfhNmnkueL+KoAJ/+5d8aZ/iStz/XJgngpLAV39drWd+W5MK8fzIOWzHLJWYsi0Sa+Tb4JzS+0mZ+d3/KYyd7FHFGWIwDa5RevAemFEwrqmVYgWXsYmGVM57L7WnMkZz7e/tzQltYxgq4jHrpN81WuUO41/d95N9fWPSe8MQeesfzbSOFAy0cSuFQfeOa63XDtZDCJl1cqslqLU5KS2Jj7+ZTGjf6zFfnHY89fsrv/N4NHvvqKWJwvN1w7XDDtpaxZdWVaeJZm0Oubw7YlALWad13Yd8PpcQT8Vla7NAe0losRMnFmLL6lAlbZn3jSy9WCXz+/uiHL6a7zPGECsu/+Zf/c5z4D//5F9tWi/ddqsZRVvql024kJyUsRJz47MW4YZ3HpPEYjd+Txu/KzFdkhm6+CP+0Me2d3VURrm0PKFI42GyDxHhJZ6azo7PD2If1xfd0Acv2Vata7JkxbM7CktO1u/QelQLjfRccOHiSVYVf/KVPC8DPvOtVtlVlcwY4GYwM3NpcV0wRm3CXncet8VUaX5XG46VzUqNIqu5WSwNrjYrQxLiyP+BonqNRqdEid9th8WUW/pUyCZy3QZxrYIKxlWI6X68SBLMcRFQGm33vhy+uq1yPp1RJ/6mP/kcB+OhffcsiOoJ/cEIyxJglwAtheEdnZ917XuLLCHUjVFNa97gzi/h32xXf47Jq47H5lMOTx5nbRK3m+6foyuokRWMZndG6Crm55wl5m/cPvrnKPUZC/vQn826PW77C/vmPvnXJpsT7HmcNNV98R6OddR6PePeVtvMtL2xmR6P1EIe7YN1o1rBuXLHCN7Phm9hyPFW220LdClLFO7/C5WW3tYrvojStwOuRKixr0ZOirMAjXH3Evvf83OWwOriNgs9Hf+ytlvtT7oJUpMWddicrN9qex9ueExr70thrLJVq3nTUuu/yZ72zacLxqXBt9nXqV65UDq5MlMmXYbVx5hplKvFNeEIcd/00iZOsLG8N3lkA/+YFTMS/3rgjJ/vhH3+z7TFOLb49sjdObOZGHDsaLVbjNPPtnfzLlmxZ7rw3NqdwsIcrpXD1aMPx0YZpUijLqjeJ6ncVYSqwKdEqH7Kce4W0wPzQ6zZ4f6XLBhzcoSVeP/nzvyIA7/2x19pJb5z02YGUNso0HcuNGFaSVUhtLqJwqp19gbkIoo0ijb7SP9WirNNtbJWfhaKzl+WZzRQ5G9YuHWZj3JUz/4t/6eWc0mynjVNtLl+FVpndYmO5Xeys0Lsx7zu9dbal8KzDDdcPNxxOddl1zxSZQVtU96uymXyz77Wprb8nlhQSVhPwnktodXAPLruH/4pvtb8GDuLnAapPdjLTTVGONxuONxsOamHSQtWwvAbaoCJsqm88V2VddQASvGFyi575ty8pcHAPfcYb//IL7WuAgwEeGKghBWpRtmViWza+Bb/6zkkFFzilx7eRqJ\nOWtMyl28zfRM4B+N4PXZzC6tMZ92zXv3/9T/77mLg3/ND9+aNlvqUa+3lV751BZLTxLWK15f5vZLUhwc/168sq2VWyPgLt5R4X6sp76IfvH+KiKP61agFioVIoVHHLmyS/TyiXEwtTHtHNXVVG85P3rlhq0LzvArUzPN1xYT/Am3/kftPYWEBVKfj3BNXsmcmdlPAKueId3BUHdhKNvC8KvaG0iBmPXoDOr9sxLvyHeNuPv8hyP5f8WhqNnyG/+8A/SDEJABnWOUVn2xRryN//gctLUM6Pe75B+Dca/+rnf1MA/uzfePF6c45lw1SWH1JbbQj7TA3SLA3q5Q9zZ8alvAp/4N0vNxEdItd6m6jsdlbz3G8KNzup8MEP/dql/LxPNC71h/mBn3ylrTfLOXPE/bmN8C98+D9d6s96s/GM+UA/+O4H12XFAWAR+MWP/OdnzOdcj2fch3rXORD/6Ud+4xn3GZ/x413vftASyGfq+H9c4DsTQt3GEQAAAABJRU5ErkJggg==\">\n\n### Example Color infrared image (CIR)\n`https://geocledian.com/agknow/api/v4/parcels/4483/visible/sentinel2/4373343.png?key=39553fb7-7f6f-4945-9b84-a4c8745bdbec&colormap=cir`<br><br>\n<img src=\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAG8AAABYCAYAAAD7uql1AAAfBklEQVR4nOWda6xt13XXf2PM9diPc+wUGuLGJKUSTVpwgmPHSWw3PBqStG6CqfhQVYAEbiQUKoEKoSQUCQFCCAmRdyJRIBUqEaEJjUmxUtNWggpBRfmAVEQoVGpRiZTavq/z3HutOQcfxpxzrX197fj6vs4xU1p3733ufqw9/2uM8f+PMebc8P/R+M1Xv9F+89VvtDt9HjdryJ0+gds1Xgi03/fM/zy3c3BuT/x6xm+85rtMzZAXszkBEfj2b5wfMM/Nib7c8euv/W7TZKiBphdAT6jgCSBmKHDvN379TM/PmT65Gx2/9vo/YE2cgFMDSbbzpS2DBgW8/DwcxIwr9/zO/zpzc3XmTuhmjV/5zvtsMRhttAqcmqHJgRQcOFOfAsEcOEAMFHezAmDPn6jXPHPnwbzjJ3Arxlfvv99W28Rqk1gOqYKlCUKyGXiCqb/GwXLw1ObW98KfU2z4nmfujHt9xYH3hUcetMWQWG6N5ZBYbhPdaLRjoplZXR3VVfoh4FbKBFx5/vNxvPb0veY2gdncjg+5XeOffO9Dth0NQRESJkoSgESIgmEklTrnHtN2WWiJcfPHMAFnV/39WuMbr36DGZAQXnsLpcgrCrxRQYPPlYkS1TChxrmkmZyIuJtMgiYjmGFJwCyjky0QKw+vOXaIz1X/ZwjJ4Le+9bvM8Lf+jue+dlOBfMW4zU+/+yHzeOXHYjQWW2MxJvrB6LPbDEAQCGZohBCNED0WhlRYqSHldmadxSon6xSPnfkcLB8JIQHJ/NZmT5i74m+/eGNgviLA++wff6uJQVJxtwgsB/N4V6SCuZtpgRajSdCM0AzQzEGMhsaEpuhApkSwVONgOTxW5umzCbiIEHEAzfzWQXPUKoNldivG6y5cv3s99+B99PsfqpJg2yjbRhGgjf63YBMrDAId0Bl0yWgHoR2gHaGN/ppmNJohEsaRMEZCSvkwt1qK5XnsrO7SIFHAmyyvPEFsVzfOgZuG33/dhZdGeM41eH/7B99h/ZhYDEY/uoWZCKMK21bYNEoUV3BiPvFdOZLQDdBvYTHCMgnLaPRDoj8daE8H2mEkDCMhZgBNnIVWxsMMwAxYBs8su8t8VO3I3PLmAtLqW+7eh3svXFtTnlvC8uEfephtAp9OjzSrrdGNCRrl8irw7F7DaRMg4S7RoBGhFeii0A+wHGA1wr4JdyVImwgKau4uQxQ3KYOUrbhGOvHHxcCsSH2T6kapOdVdSnMtiyvAXY3U//1d32lmTrbmQJ5L8P7aDz9iI2AYEqR+9Sb5RG0DHLXKpUXguHXwmtFQE4I6eG0S+hGWg7COMJpgCawBUiAMAR0jYVQ0pjqlZlMuzYwKYJrC33Sb/9//IIW75ngJu6/w+9cysUJ4DPj6q99gEgRROX/g/dU//ahfhWaYSJYDwqhKVGg6OG2VKwvhuBFOgl+xQbLLU7/f4K7zNMI2QUpg0UmPbJWmCzTbQKMRFUFFMjGZ7KNIAMvGuTOK2i8uM5MXzUhYBVCo73oNSWL2/MdicM/XvybnCrwf+7PfQ5rFDgPG4PosNcJJFzARThvhSqdsBEYMEbLGE0QNCc4YtwIbgzFBSkYawcxoeqFrlbYJNE0gDBHTEsOkApfqrWU3mX2AZNBKtWIW99zRVxu8irzIDlpXA1d88bflstW5Ae9Df+Z7LGb3NI8hBsQgjOpAbhthE4QTFQY1twjxuJRZA6gh4v8/ZDFtBhZAIrS90PeBZpPc+ppAiNnaCxkRIUkBb846bcdbgj9IUKNzzQXgpKU+/8WAy+Pe5yYmei7A+1s/9IiN0RgUZ48CSdwU1FxcJ4FB3VVugjCQJzX7mSizQJMpe0olVomn0gLQCs1CaJeCDko7KN1WaULyyVePezazwIoIgEkV4ibZHWY34aDZ7Ol+cZWobcY1Y94LjXMB3mJMbIMiJgwKowox+xuN0JgRzQHcBgcvGVCqBzaz0xov/b0TwlaVFIyoCi2EXghLJQzKYqOsTpU+Kqj5xWAeHy1JlQPCLPgVUe66oqZValyzedqtIO32V63wGii+7uKuZAg3a4Jv1fjo42+3kHDXp34kIU++xw+AIQjHrXLcKoMWojfFxrmekllKxDIJ8eyM14c8FwpNMvrBWAxGkwRRQOeEZS7CcwrNQFL+QJnOwXOlU4wrFYwKfD3FCR+ZQXU1cHDGwfv44w+bice0IShDcODUhJBdTFTYNAU4t7qo06QBTudngcizI4VNOO0mKKJSmaEkCAn6EboRgokTHskqL4s7q7nPothdB4qAiqGab7Mi1Zws8DSbIVLAnUfKXQCvBRycYbf5k489bNsE20YYgjAEBwrcIjS5izxV5aATThrYNJBkutKnGDdzWTORJTkOSrnEzbIbheMWDjrlch9YLYSQFLYK4+hApYRpKsp9YpXz5Iu6oQp+Wwq8auXiKrJhinl+mtMbvRBxgTNqeT/97octmGuuMXh8S+oMD3JiGAf1qFMOO+GkdcZZ9JPkyayuqbi3bD2qbiFFwxX8NLtTkltbG6FJUvOaIVsmybA0VRw0E5XSByNqDpz4rVudVIubUmW7HqKk3sq/r7/0wu0WZw68z7/r7V5ayy4smLsvr4InEJcEJ70Dd9wKJ1kqpJLyL8DNYpCYZ1gcLEVEUaS6sEIyxMyfX+Oeu+h6lEamaEhKtYS0Uz6qoBmzU/LXzXRqSVTPrXUO4Osv/e8XJZ9nCrwvv/MhSwJRPbncJOgitKPR5kmKAQ4XwqWVcrBQToplVkbgcUxNkCQZhJl1iKI6AReQCi7J63gF8GopOc5V8JKh0ctFmuuAIfe/iMysjsnq/PSsSs0KXB4TcH77uku/8U1Vw5mJeU+/7QFL20RUZVv00RScKIEriThB6YTjVoiZtlOeLzZjgCAm01U+80/VjWU3OeY0SJEVhjCqcdoKhwgBoTWhSYpY8HxaCpmAJCyWvlCB6hJlskTb/SpV/M3uic3TZt98nAnwnn7bA1bof5e7vTatctwHjrvAtoFBlG2Ag1447pRN4+zT0oyMFIxL3GKKKW49eUoNFLfskJOTHgs15yhdkkSBjQiaU2sBrxWaZgEuoCroNqJDgmi56CqTe7RdkMpFaDlXWhjJHMDXvgSrgzMA3i/f/4dsm4zYOMXvR2M5uHu5tAo8t68c9sooEAVOGjjqJGs5Keyl6rZCNqQwOnF95o8zWUGcjJjHUjcEf6MoRsommswrFGY5BitYCFjj8iKIohoJOhI0EcaUY2EGsYjwkk1m19ZEnLXKLKX2bS8ROLjD4P3KfW8yHRJJYSNhoviZaW5a4XChXF4ET43hbP20cTeXmCj5lGScfXdxfi5WnLDg0AmSXWbIriqSRfiszhbVL5iEYQqimkVavgAQJCgaFG0iso00oyElHsYMXHJyM1dyXlJyAN3ijHuuAzi4w+BtWmUxeF+lWGTbKEOjHK8Cl1eBkz7UbMoQhE2RWpSLuuik/IZFIxTiUuauxhFByxvmApxJzjUqJPXWwCnRbFO5J7+3aX6pKBaEsTNSH0inibhNdNtIGFJupUjomAjRLzOZDHDy8qpIStxz8cWZ5bXGHQPv3zz6oG0Gb+xZDIl+SBz3cLBqeObulsurwHHnVhKST/CgLqCtuMZMUKYiZ7YeE8wKIXdgnCi479UoFdSE4QzXGBtxtwklDepvizCIPy+ps+EUhNjA2IMtgA3YJjGejrSbSLsZabeRZjsiQ86qxeSk5BoAvpxxR8D76Xe9LTfHuvZpR8/YR4XDhfLcfsOVZchxzqGJgrtOBeLU0WxMluc0WyipLyuoKZhmYoI3BnlxFMbsNsfglhdVpuSzTczR858eB1EhCDQqtI2waIRFK4Q2kZpAbEdSo1gzYkG8B2OINKNATMwoLZbg3mdeXgvgbQfvc+9+hyUzJwLi1W+joYnGlVXg0qrh4jJwsFQSPsOb4MClTNDkeStA5pJilgouQOaWr1KLS+SqRBbcSSA2kEJ2o8U6Sva/6jMX+QlPYltQogkjylaEjRhoZGyUsQkMbUPXjnSbSLsZ6LYjzRC9tTA6r733d/7HywIObjN4//Q9Dxt5sobgmZLTVrxdz4Qry8Bz64ZLC+WwUwx3q6N4LQ+byOVOAySTtdXbAqK6axXNhdPcUY1SZUbCiGqk4C64gOeHm8iUhXGm2pjSEAiimCoxwLaDpEpoAkObaLvE0EWGbqRvAils6XSg3YxoMu79+n9/2cDBbQTvJzNwXvbKWZHg9zetZ1SuLAOXlp6rPG4B856P0k4HMzI4B+5qSyvtfkhefydT8ldLkTan0xwukthEXmbH9ClZXiB0pnQonSkN6tYYhFE8fo2tMbaJsTViE0nBP98yV7Lq2m9s3Bbw/sUfecjiEEmqzubEsxtNNK/DdcrRInB5qRz06m6yeLxZwXPGICgVGH/oTy5J52m15PTcIoJTtkJ3hRnQHPe8UbaoDpnVDP31QYUuKQuEFcISYWnQGrWxKAYBUQcsJCdLtS2tnJPwhq/96g2jd8vB++IjD5psU+4vgahKEqVJiRC9Kn7aKpey1R21OLMzy2t9ZGrgSTi7rKDMsiYFPKUCZjPNNskKqQ1CBdGSBJkai3KbOuT6nedBe3PQ1ihrE9YGS4M+JUJuH7OgWONtEqj7ek2B6QOFB//zf7hxs+MWg/elhx80jUZIRhPFmRzgrsozKtsgHHbK5YVw0AunjREpfR4y9UmWbEWh/0XTFQDrgnKpFlddayUes7cqhKeeETUz4zlPP4K4q1yYsGfenLtXgEvQma8yEgAVLHhclWSIQmyEoVMkNYgJf+yrX70pwMEtBO8rDz1gFn3SkrpWW24STTQ2bWDTBY77wOWVcmmhHDTCcTAGcWhdq9Vmugks9VSVr/yYxzvya/zzHZZ5SiqPWXWzzmKVBV5lCCbeDp+E3mBh7h5XJqxNWCZhEaFNvhaCXOE3Fbc6zS2b8xh60yCbxi0B7+m3PGCMrpnGAEMudvaDrytQczF+Yb/hwipwqTeOg7El6yihZiOqbZSsSe4jKe6xSIBaTCikyCaC4CNbLJn05EA6B7AwyVVS1lFYRWEvGevkaxkWCB1CY9RWQCTrv9bdZHHLlmbnlz/kPU/+3E2F8KaD9/QDD1ipeYWE9540wmBOyjV5z8nhQrm4ClxaKYchsZHEmK0rZx8nliHF2mQGIDPT2QUOpqu+sNv5sFkmH0o/pVcNuuTg3RWFuyLsR2EdjYU5cCpZ4GeRnzLTTEF3kuSWMzLq4Mn7v/DkzZ7qWxvzxIwxCEeLwLaRmik5WASe3Q9cXsBxYwwyxaSd5iC4KpaVY3J9VoX67qhxTabwVuOt7lwXiAkNSmtORPaT8qoo7I/CKhmLZHTmbfKCVrpf0mWlvFMWgxQ3mdRTaD/8j3/2FszuTQbvFx54YKdfJqqw6ZSDZeDyquGwV45a5aQTTlrYNMagiZRdWKjEoyQjfVhmklYbZyWTENdmV8sImFknUlESo+7+MHsyakIXhaUpe6bcHYW7orKXoIsTIUn5okri5Cvq1IldKvCly8i3CaHq01sxbhp4//G++21j3pkc8hfZtMpRr1xZBi6sAxdXDVd6ZdOAkVd3VEoyWZZpzST7/2XRXQCd1H6h/zaxSysBU2pXmMwAnLShY1sq5AuK1Ql7SdmLwirmZqP8CrcodVeZe0hdZqSpBT/3tTtRgyc+/jO3DL2bAt5/eeObLSajGzy5O6hy0nlMu7gKXF4oVzrhqIGNwECup+FuaGq78gmZJ5ehuECpRjT9jZq5ID/22ZbZ9S47oE1pZu8O60xZmLCOwl1R2I+wjrBI0OaOsJRb7K2Qk6vibWXD5c/ZUp/42K0DDm4CeL/6hjeZURbkO8M8WiuX9lqe3Qs8tw5cWjhwgxky+vMcH3VmVswgkxIrkzPj13OAduTALPVFrRxMerC8Zib68lM9zi1MWUVhPwp3jbA/wip51qQsiS4u05SJwZrbopi78/qJOV3zxCf+1S0FDm4QvP/2HX/QNvnC7ga/2g6W3ntycd1wcR24vBQOO192FQHM0Nw6XlNZCpYr1JVRVlOZA1hSLTZZ41zFVbc6736cm0QpJWVXmYRlFPaishdhb3R50OVVtILli0NmWZt6Njv9KdUzGHzgE1+45cDBDYD3td/73ZaiIdtUd2HYtoErSwftQnaZh72wab1eZpbb7ATPL5YjCBKyHKjuDebWU1NiV59I1mc77LKAb7NJZ2p8bRL0SViPwl2jsj8Ke4OwHKGP3tdSl3MBppbLUbOTk507tQ/lmtT3Fo2XBd5//f33Wdwm2phoRti2gaNci3tuv+XZvYYLa1+detILQ5OXUhm+uBEmNxm8D6QCNy815zGl1Ox5AErKHWQz1+tGMDHWAh7ZFfYGq6jsj8rdW7e49ejLnJvZ+nPEN96pHdvgKTSZXSzVdfqp/8gn/+VtQ++6wfv3b77fhiH54vy8e1BSOO6Ui+uG5/YaLq4cuKNe2LSatVBeGZOKq3TgptsivlKl/zZbHVKrCPOpqV50zliobne+a4OY0ZCTy0nYi8LeKOyNynoQFlFyV7a/JOVYnMSIOxdMvgoLejMAn/jU7QMOrhO8n3/oQRtLvjKfdEhwtMhWVyxuqZz0vp1GzBVzn07vJs4cvca5mj3BavnHrUx2jTDHOJm7MHWYJrc5c7VMBDSY0CdYp8Iq3V2uxhlw+bMSVntbUv6uVj67hLirQHzi07cXOLgO8J56+0NmZl4BV
[...]
